@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

/*  [-----------------------------------HEADER-----------------------------------] */
header {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0px 54px 0px;
}

.Logo {
    width: 100px;
    height: 30px;
}

header a:hover{
    color: rgb(255, 115, 0);
}

header a {
    text-decoration: none;
    color: #0065fc;
}

header nav {
    display: flex;
    width: 380px;
    justify-content: space-between;
}

/* [------------------------------SEARCH BANNER------------------------------] */
.DescriptionBanner p {
    font-size: 16px;
    padding-bottom: 15px;
}

.Search {
    margin-left: 16px;
}

#search {
    border: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 13px;
}

.Searchbutton {
    text-decoration: none;
    background-color: #0065fc;
    color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 12px;
    font-weight: bold;
}

.Search2 {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    padding-top: 30px;
}

.Search2 div {
    align-self: center;
    justify-self: left;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .30);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 25px;
    padding: 8px;
}

.Filterbutton {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    margin-left: 15px;
}

.info {
    display: flex;
    max-width: 450px;
    justify-content: space-between;
    padding: 16px 0px 16px 0px;
}

.info i {
    color: #0065fc;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .30);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 100%;
    padding: 8px;
    width: 10px;
    height: 14px;
    justify-self: center;
    align-self: center;
}

/* [-----------------------------------GENERAL-----------------------------------] */
h3 {
    font-size: 18px;
}

h2 {
    margin-bottom: 8px;
}

i{
    color: blue;
}

/* [------------------------------ACCOMMODATION------------------------------] */
.Accommodation {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
}
/* [-------------------------CONTENT-------------------------] */
.Content{
    display: flex;
    max-width: 800px;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 40px;
}

.TitleAccommodation {
  flex-basis: 100%;
}

.item1 .item2 .item3 .item4 .item5 .item6
{
    width: 236px;
    border: 0.01px solid grey;
    border-radius: 14px;
    max-height: 183px;
}

.Content i {
    color: #0065fc;
    height: 12px;
    width: 12px;
}

.GreyStar {
    color: grey;
    opacity: 0.3;
}

.Picture {
    width: 240px;
    max-height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
    object-fit: cover;
}

h4 a {
    text-decoration: none;
    color: black;
}

/* [-----------------------------------ASIDE-----------------------------------] */
aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
}

aside i {
    color: #0065fc;
    height: 12px;
    width: 12px;
}

.Titleaside {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Titleaside i {
    color: black;
    width: 30px;
    height: 24px;
}

.Blocinside {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.Pictureaside {
    width: 127px;
    height: 134px;
    object-fit: cover;
    float: left;
    border-radius: 14px 0 0 14px;
}


/* [-----------------------------------ARTICLE-----------------------------------] */
article {
    max-width: 1340px;
    max-height: 475px;
}

article h2 {
    padding-bottom: 20px;
}

.Activites {
    display: flex;
    justify-content: space-between;
}

.Blocactivites2  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Blocactivites4  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Img1 {
    width: 300px;
    height: 390px;
    object-fit: cover;
}

.Img2 {
    width: 300px;
    height: 115px;
    object-fit: cover;
}

.Img3 {
    width: 300px;
    height: 115px;
    object-fit: cover;
}

.Img4 {
    width: 300px;
    height: 390px;
    object-fit: cover;
}

.Img5 {
    width: 300px;
    height: 115px;
    object-fit: cover;
}

.Img6 {
    width: 300px;
    height: 115px;
    object-fit: cover;
}

/* [-----------------------------------FOOTER-----------------------------------] */
ol {
    padding-inline-start: 0px;
}

li {
    list-style: none;
    line-height: 30px;
}

li a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 130px 370px 0 0;
}