@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');

body {
    max-width: 1440px;
    margin: auto;
    font-family: 'Raleway', sans-serif;
}

/*  [-----------------------------------HEADER-----------------------------------] */
header {
    max-width: 1440px;
    display: grid;
    grid-template-columns: 70% 10% 10% 10%;
    margin-bottom: 50px;
    margin-top: 40px;
}

header a:hover{
    color: rgb(255, 115, 0);
}

header a {
    text-decoration: none;/* Ne va pas au bout de la page */
    color: #0065fc;/* Ne va pas au bout de la page */
    font-size: 16px;/* Ne va pas au bout de la page */
    justify-self: center;/* Ne va pas au bout de la page */
    align-self: center;/* Ne va pas au bout de la page */
}
/*  [-----------------------------------HEADER-----------------------------------] */


/* [------------------------------SECTION RECHERCHE------------------------------] */
.button{
    text-decoration: none;
    background-color: #0065fc;
    color: white;
    border-radius: 0px 10px 10px 0px;
    padding: 13px;
    font-weight: bold;
}

svg
{
    width: 20px;
    height: 20px;
}

.BlocSearch {
    margin-left: 16px;
}

.BlocSearch2 {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin-top: 30px;
}

.BlocSearch2 div {
    align-self: center;
    justify-self: left;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .30);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 25px;
    padding: 8px;
}

.BlocSearch2 svg {
    color: #0065fc;
}


.button2 {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
    padding: 8px;
    margin-left: 15px;
}

.BlocSearchLib {
    margin: auto;
    font-size: 14px;
    margin-bottom: 20px;
}

#search {
    border: none;
    font-weight: bold;
    color: black;
    font-size: 16px;
    text-align: center;
    padding: 13px;
}

p{
    font-size: 12px;
    margin-left: 10px;
}

.info {
    display: flex;
    margin-left: 16px;
    margin-top: 20px;
}

.info svg {
    color: #0065fc;
    border: 1px solid rgb(0, 0, 0);
    border: 1px solid rgba(0, 0, 0, .30);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 100%;
    padding: 8px;
    width: 8px;
    height: 10px;
    justify-self: center;
    align-self: center;
}
/* [------------------------------SECTION RECHERCHE------------------------------] */



h3 {
    font-size: 18px;
    margin-left: 10px;
}

h2 {
    margin-bottom: 8px;
}



.Logo
{
    width: 100px;
    height: 30px;
}

/* [------------------------------SECTION HERBERGEMENTS------------------------------] */
.Hébergements {
    display: flex;
    justify-content: space-between;
}

.Content{
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-row-gap: 20px;
    max-width: 800px;
    margin-left: 50px;
    margin-top: 50px;
    grid-column-gap: 20px;
}

.Titre1 {
    grid-column-start: 1;
    grid-column-end: 4;
}

.item1 .item2 .item3 .item4 .item5 .item6
{
    width: 240px;
    border: 0.01px solid grey;
    border-radius: 14px;
    max-height: 190px;
}
/* SECTION HERBERGEMENTS --- NOTATION ETOILES */
i svg {
    color: #0065fc;
    height: 12px;
    width: 12px;
}

.Notation {
    margin-left: 10px;
}


.GreyStar svg{
    color: grey;
    opacity: 0.3;
}
/* SECTION HERBERGEMENTS --- NOTATION ETOILES */

#Image1item1{
    width: 240px;
    max-height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; 
}

#Image2item2
{
    width: 240px;
    max-height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Image3item3{
    width: 240px;
    max-height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#Image4item4{
    width: 240px;
    max-height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#Image5item5{
    width: 240px;
    max-height: 115px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#Image6item6{ 
    width: 240px;/* Image étirée */
    max-height: 115px;/* Image étirée */
    border-top-left-radius: 10px;/* Image étirée */
    border-top-right-radius: 10px;/* Image étirée */
}

i{
    color: blue;
}

h4 a {
    text-decoration: none;
    color: black;
}

/* [------------------------------SECTION HERBERGEMENTS------------------------------] */
aside {
    max-width: 350px;
    display: grid;
    grid-template-columns: 37% 63%;
    grid-template-rows: 15% 28% 28% 28%;
    margin-top: 50px;

}

.LPP1 {
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: left;
    align-self: center;
}

#FI1 {
    width: 127px;
    height: 120px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
    grid-column-start: 1;
    grid-column-end: 1;

}

.FirstImage{
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    
}

.logoLPP1 {
    grid-column-start: 3; /* logo qui sort de la page */
    grid-column-end: 3;/* logo qui sort de la page */
    justify-self: left;/* logo qui sort de la page */
    align-self: center;/* logo qui sort de la page */
}

article {
    display: grid;
    max-width: 1340px;
    max-height: 475px;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 10% 45% 45%;
}

article h2 {
    grid-column-start: 1;
    grid-column-end: 5;
}


#Img1 {
    width: 300px;
    height: 390px;
}

#Img2 {
    width: 300px;
    height: 115px;
}

#Img3 {
    width: 300px;
    height: 115px;
}

#Img4 {
    width: 300px;
    height: 390px;
}

#Img5 {
    width: 300px;
    height: 115px;
}

#Img6 {
    width: 300px;
    height: 115px;
}

.bloc2 {
    justify-self: center;
    align-self: center;
}

.bloc3 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 2;
    justify-self: center;
    align-self: center;
}

.bloc5 {
    grid-row-start: 2;
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: center;
    align-self: center;
}

.bloc6 {
    grid-row-start: 3;
    grid-column-start: 4;
    grid-column-end: 5;
    justify-self: center;
    align-self: center;
}

ol {
    padding-inline-start: 0px;
}

li {
    list-style: none;
    line-height: 30px;
}

li a {
    text-decoration: none;
    color: black;
}

footer {
    display: flex;
    justify-content: space-between;
    margin-right: 370px;
    margin-top: 130px;
}